
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.content {
  width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  word-wrap: break-word;
}

.links {
  width: 100%;

}

a {
  color: black;
  transition: .5s all ease

}

a:hover {
  color: #ed8613;
  text-decoration: none;
}


img {
  max-width: 100%;
}




@media screen and (max-width: 480px;) {
  body {
    font-size: 0.8em;
  }
}
